@import '../abstracts/variables';
@import '../abstracts/mixins';

.features{
    padding:10rem 5rem;
    grid-column: full-start/full-end;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    grid-gap: 2.5rem;
}
.feature{
    display: flex;
    margin:2rem;

    &__logo{
        height:12rem;
        width:12rem;
        color:$color-primary;
        margin-right:2rem;
    }
    &__content{
        &-title{
            @include font-sizer($title-small, $color-secondary);
            margin-bottom: 1rem;
            font-weight: 500;
        }
        &-details{
            @include font-sizer(1.4rem, $color-grey-dark-2);
        }
    }
}